<div class="panel panel-primary" ng-controller="listbookmarkController">
  <div class="panel-heading">
    <h3 class="panel-title">BookMark List</h3>
  </div>
  <div class="panel-body">
        <table class="table">
           <thead>
              <tr>
                 <th><b>BookMark Name</b></th>
                 <th><b>BookMark URL</b></th>
                 <th><b>Folder Name</b></th>
              </tr>
           </thead>
           <tbody>
              <tr ng-repeat="i in bookmarkList">
                 <td ng-bind="i.name"></td>
                 <td ng-bind="i.url"></td>
                 <td ng-bind="i.folder | customFilter"></td>
              </tr>
           </tbody>
        </table>
  </div>
</div>