<div class="row">
  <div class="col-md-3">
     <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ui-sref-active="active"><a ui-sref="baseState.listbookmark">List BookMark</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="baseState.addfolder">Add Folder</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="baseState.addbookmark">Add BookMark</a></li>
     </ul>
  </div>
  <div class="col-md-9">
    <div ui-view></div>    
  </div>
</div>